.package {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 8vh;
  flex: 1;
  background: #EDEFF7;
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 30px;
  margin-bottom: 20px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.wrap_title {
  text-align: center;
}

.wrap_title img {
  width: 40%;
}



.wrap_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding-top: 20px;
}

.wrap_item {
  width: 31%;
  padding: 4px;
  background: #FFFFFF;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrap_item h2 {
  font-size: 12px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: rgba(41, 29, 85, 1);
}

.wrap_item p {
  font-size: 11.5px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(41, 29, 85, 1);
  text-align: center;
}

.section2 {
  flex: 1;
  background: white;
  margin-bottom: 5px;
  padding-top: 20px;
}

.title2 {
  width: 90%;
  padding: 4px;
  margin: 0 auto;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

.text2 {
  width: 90%;
  padding: 4px;
  margin: 15px auto 0;
  font-size: 13px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 1px;
  line-height: 20px;
}
.text3 {
  width: 90%;
  padding: 4px;
  margin: 15px auto 25px;
  font-size: 13px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 1px;
  line-height: 20px;
}