.package {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;

}

.item1 {
    margin-top: 8vh;
    width: 100vw;
    background:url(../images/企业bg1.png) no-repeat;
    background-size: 100% 100%;
    height: 40vw;
    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    line-height: 46vw;
}

.item2 {
    width: 100vw;
    background: rgba(226, 230, 248, 1);
    position: relative;
    overflow: hidden;
}

.item2 .videoBox {
    position: absolute;
    width: 64vw;
    height: 19vh;
    z-index: 10;
    top: 40px;
    left: 18vw;
}

.item2 .videoBox #buttom1 {
    position: absolute;
    width: 11vw;
    height: 11vw;
    z-index: 999;
    top: 6vh;
    left: 26.5vw;
}

.item2 .videoBox #imgBG1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

.item2 .videoBox video {
    width: 64vw;
    height: 19vh;
    display: block;
}

.item2 .videoBG {
    box-sizing: border-box;
    position: absolute;
    width: 64vw;
    height: 19vh;
    opacity: 0.3;
    border: 3px solid rgba(0, 0, 0, 0.14);
    z-index: 1;
    top: 55px;
    left: 22vw;
}

.item2 .title {
    text-align: center;
    margin: 28vh auto 0;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 45px;
}

.item2 .text {
    padding: 0 10vw;
    margin-bottom: 5vh;
    font-size: 13px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.85);
    line-height: 18px;
    letter-spacing: 1px;
}
.item4 {
    background: rgba(226, 230, 248, 1);
    overflow: hidden;
}

.item4 .img {
    width: 60vw;
    height: 60vw;
    background: url(../images/收集表.png) no-repeat;
    background-size: 100% 100%;
    margin: 20px auto;
}

.item4 .text {
    text-align: center;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(53, 74, 155, 1);
    line-height: 22px;
}

.item4 .button {
    display: block;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(47, 75, 161, 1);
    border-radius: 5px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
}