.footer{
  width: 100%;
  background:rgba(255,255,255,1) !important;
  min-height: 50px;
  float: left;
  position: relative !important;
}

.index_footer_bav {
  margin-top: 20px;
  float: left;
  margin-left: 10vw;
  width: 80px;
}
.bav1{
  margin-left: 150px;
}

.index_footer_bav dt {
  margin-top: 34px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  line-height: 20px;
}
.index_footer_bav dd {
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #6D8CAD;
  line-height: 20px;
  margin: 14px 0 0 0;
}
.index_footer_bav dd a{
  float: left;
   color: #6D8CAD;
}
.footer .imgBox{
  float: left;
  width: 100%;
}
.footer .imgBox .img1{
  display: block;
  height: 90px;
  width: 90px;
  margin: 30px auto 0;
}
.footer .imgBox .img2{
  display: block;
  height: 22px;
  width: 83px;
  margin:5px auto 0;
}
.footer_text {
  width: 100%;
  float: left;
  text-align: center;
  height: 40px;
  border-top: 1px  solid rgba(109, 140, 173, 0.4);
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(109, 140, 173, 1);
  line-height: 40px;
  margin-top: 22px;
}