.package {
  width: 100%;
  min-height: 100%;
 
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 8vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.section {
  margin-bottom: 20px;
}

.wrap_title {
  background: #EDEFF7;
  height: 40vw;
  display: flex;
  background: rgba(237, 239, 247, 1);
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

.wrap_title h2 {
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  position: absolute;
}

.wrap_title img {
  height: 16vw;
  width: 30.5vw;
}

.wrap_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.wrap_list li {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  border-bottom: #D7D9E1 solid 1px;
}

li .left {
  width: 90%;
}

li .right {
  width: 24px;
  height: 24px;
  background: url(../images/right1.png) no-repeat;
  background-size: 100% 100%;
}

li span {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.85);
}

.item {
  color: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}

li span:last-child {
  width: auto;
}

.footer {
  background: #EDEFF7;
}