.package {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    background: rgba(226, 230, 248, 1);
}

.item1 {
    margin-top: 8vh;
    width: 100vw;
    background: url(../images/weaverbg.png) no-repeat;
    background-size: 100% 100%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}

.item1 .title {
    font-size: 22px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 16vw;
    letter-spacing: 1px;
}

.item1 .text {
    font-size: 9px;
    text-align: center;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 25px;
    letter-spacing: 1px;
}

.item1 .img1 {
    position: absolute;
    height: 15vw;
    width: 15vw;
    top: 8vw;
    left: 24vw;
}

.item1 .img2 {
    position: absolute;
    height: 15vw;
    width: 15vw;
    top: 19vw;
    left: 66vw;
}

.item2 {
    width: 86vw;
    background: rgba(226, 230, 248, 1);
    margin: -5vw auto 0;
    position: relative;
    padding-top: 1px;
    height: 30vh;
}

.item2 .videoBox {
    position: absolute;
    width: 86vw;
    height: 48.5vw;
    z-index: 10;
}

.item2 .videoBox #buttom1 {
    position: absolute;
    width: 11vw;
    height: 11vw;
    z-index: 999;
    top: 18.75vw;
    left: 37.5vw;
}

.item2 .videoBox #imgBG1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

.item2 .videoBox video {
    width: 86vw;
    height:48.5vw;
    display: block;
}

.item2 .videoBG {
    box-sizing: border-box;
    position: absolute;
    width: 86vw;
    height: 48.5vw;
    opacity: 0.3;
    border: 3px solid rgba(0, 0, 0, 0.14);
    z-index: 1;
    top: 15px;
    left: 15px;
}

.item4 {
    background: rgba(226, 230, 248, 1);
    overflow: hidden;
    width: 86vw;
    margin: 20px auto;
}



.item4 .text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size:13px;
    font-family:PingFangSC-Light,PingFang SC;
    font-weight:300;
    color:rgba(0,0,0,0.85);
    line-height:18px;
    letter-spacing:1px;
    text-indent: 2em;
}
.imgBox {
    width: 100%;
}

.box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box1 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content:  space-around;
    flex-wrap: wrap;
}

.box-img0 {
    width: 84px;
    height: 84px;
    margin-top: 20px;
    padding-top: 9px;
}

.box-img0 img {
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
}

.box-img0 p {
    display: block;
    margin: 10px auto 0;
    text-align: center;
    width: 63px;
    height: 16px;
    font-size: 12px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(53, 74, 155, 1);
    line-height: 16px;
}

